# Node and Svelte
node_modules
/build
/.svelte-kit
/package

# Vite Artifacts
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Tauri and Rust
src-tauri/target/
src-tauri/gen/

# Environment Variables
.env
.env.*
!.env.example

# Operating System and IDE
.DS_Store
Thumbs.db
.idea/
.vscode/